body {
    background-color: white;
    margin: 0;
}

#header {
    display: flex;
    padding: 30px 0px;
    justify-content: flex-start;
}

#header p {
    font-size: 50px;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

#canvas {
    display: grid;
    background-color: white;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.box {
    user-select: none;
    cursor: pointer;
}

#controls-left {
    display: flex;
    flex-direction: column;
    height: 375px;
    align-items: center;
}

#color-picker {
    width: 100px;
    height: 100px;
    appearance: none;
    border: none;
    background-color: transparent;
}

#button-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto 0;
}

