body {
    background-color: white;
    margin: 0;
}

#header {
    display: flex;
    padding: 30px 0px;
    justify-content: flex-start;
}

#header p {
    font-size: 50px;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

#canvas {
    display: grid;
    background-color: white;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.box {
    user-select: none;
    cursor: pointer;
}

#controls-left, #controls-right {
    display: flex;
    flex-direction: column;
    height: 375px;
    align-items: center;
}

#controls-right {
    gap: 30px;
}

#color-picker {
    width: 100px;
    height: 100px;
    appearance: none;
    border: none;
    background-color: transparent;
}

#button-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto 0;
}

.rainbow {
    animation: rainbow-anim 10s linear infinite;
}

@keyframes rainbow-anim {
    0%, 100% {background-color: red;}
    12.5% {background-color: orange;}
    25% {background-color: yellow;}
    37.5% {background-color: lime;}
    50% {background-color: cyan;}
    62.5% {background-color: blue;}
    75% {background-color: rgb(128, 0, 255);}
    87.5% {background-color: magenta}
}

#slider-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#slider {
    appearance: slider-vertical;
}

#values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: horizontal-tb;
    height: 140px;
    margin-left: -50px;
}